<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.xudshen.jandan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".JandanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomMaterialDrawerTheme">

        <meta-data
            android:name="info.xudshen.jandan.utils.glide.OkHttpProgressGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
            android:value="GlideModule"
            tools:node="remove" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d4123a67e58ee62d001139" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wandoujia" />

        <activity android:name="com.umeng.fb.ConversationActivity" />

        <provider
            android:name="info.xudshen.jandan.data.dao.ModelContentProvider"
            android:authorities="info.xudshen.jandan.data.dao.provider" />

        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ItemReaderActivity"
            android:label="@string/activity_reader" />
        <activity
            android:name=".view.activity.JandanSettingActivity"
            android:label="@string/activity_setting" />
    </application>

</manifest>
